[Desktop Entry]
Encoding=UTF-8
Name=Ipcash
Comment=Ipcash P2P Cryptocurrency
Comment[fr]=Ipcash, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Ipcash, eşten eşe kriptografik sanal para birimi
Exec=ipcash-qt %u
Terminal=false
Type=Application
Icon=ipcash128
MimeType=x-scheme-handler/ipcash;
Categories=Office;Finance;
